<div class="box-tools pull-right" id="generate_report_url">
  <% unless @service.paid %>
    <%= link_to new_equipment_customer_path(service_id: @service.id), class: 'link-hover', data: {remote: true, disable_with: 'Accediendo...'} do %>
      <i class="fa fa-fw fa-plus-square" style="font-size: 2.2rem;"></i>
      Abrir Registro
      <% end %>
  <% else %>
    <%= render 'shared/generate_report', url_report: generate_ticket_service_path(@service, format: 'pdf') %>
  <% end %>
</div>
