<div class="box">
  <div class="box-header text-center">
  	<h3 class="box-title">Equipos Ingresados</h3>
    <%= render 'services/generate_report_url' %>
  </div>
  <div class="box-body" id="new-equipment-body">
    <%= render @service.equipment_customers.order(created_at: :desc) %>
  </div>
</div>

<script>
  var acc = document.getElementsByClassName("accordion");
  activeAcordionPanels(acc);
</script>
