<table class="table">
  <tbody>
    <tr>
      <th style="width:50%">Total productos:</th>
      <td><%= number_to_currency totals[:total_products] %></td>
    </tr>
    <tr>
      <th>Total mano de obra:</th>
      <td><%= number_to_currency totals[:total_worforce] %></td>
    </tr>
    <tr>
      <th>Descuento:</th>
      <td><%= number_to_currency totals[:total_discount] %></td>
    </tr>
    <tr>
      <th>Total Final:</th>
      <td><%= number_to_currency totals[:total_final] %></td>
    </tr>
  </tbody>
</table>