<div class="box" style="margin-bottom: 0px;">
  <div class="box-header text-center">
    <h3 class="box-title title-catalog">Servicios</h3>
  </div>
  <div id="form_service">
    <%= render 'form' %>
  </div>
</div>

<div id="list_equipments">
  <% unless @service.new_record? %>
    <%= render 'services/list_equipments' %>
  <% end %>
</div>

<div id="paid">
  <% unless @service.new_record? %>
    <% if @service.paid %>
      <%= render 'services/paid' %>
    <% else %>
      <%= render 'services/form_paid' %>
    <% end %>
  <% end %>
</div>
