<div class="box" style="margin-bottom: 0px;">
  <div class="box-header text-center">
    <h3 class="box-title title-catalog">Servicios</h3>
  </div>
  <div id="form_service">
    <%= render 'form' %>
  </div>
</div>

<div id="list_equipments">
</div>

<div id="paid">
</div>
