<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label>Historial</label>
      <div>
        <div class="direct-chat-messages div-direct-chat-messages" data-behavior="chat_history" style="position: relative;">
          <% if quotation_printing.new_record? %>
            <%= text_field_tag 'quotation_printing[message]', nil, placeholder: 'Registrar mensaje...',
                               class: 'form-control add-messages-history-button' %>
          <% else %>
            <div data-behavior="wrapper_history">
              <%= render quotation_printing.message_history_quotation_printings %>
            </div>
            <div class="row">
              <div class="col-sm-9">
                <%= text_field_tag 'message_history_quotation_printing[message]', nil, placeholder: 'Registrar mensaje...',
                                   class: 'form-control add-messages-history-button',
                                   data:{behavior: 'message_history', url: add_history_quotation_printing_path(quotation_printing)} %>
              </div>
              <div class="col-sm-3">
                <%= link_to "Agregar", "javascript:void(0);", class: "btn btn-default form-control", data:{behavior: "add_history"} %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
