<div class="col-sm-4 text-left">
  <label>
      <%= check_box_tag "equipment_customer[component_ids][]", component.id, check_component, disabled: disabled %>
      <%= component.name %>
  </label>
</div>
