<div class="box box-info not-margin not-border">
  <div class="box-header text-center border-tr-header">
    <h3 class="box-title title-catalog">Actualizar Equipo</h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  <%= render 'form', equipment: @equipment %>
</div>
a
