<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label>Historial</label>
      <div>
        <div class="direct-chat-messages div-direct-chat-messages">
          <%= render equipment_customer.message_histories %>
            <%= text_field_tag 'message_history[message]', nil, placeholder: 'Registrar mensaje...', class: 'form-control', id: "message_history_message_#{equipment_customer.id}" %>
        </div>
      </div>
    </div>
  </div>
</div>
