<div class="input-group" style="width: 100%">
  <input class="form-control" id=<%= id %> placeholder='<%= placeholder %>' autofocus>
  <% unless controller_name.eql?('sales') %>
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" onclick="location.reload()">
        <i class="fa fa-fw fa-refresh"></i>
      </button>
    </span>
  <% end %>
</div>

<script>
  $(document).ready(function() {
    var $element = $("#<%= id %>");
    var remoteUrl = '<%= remote_url %>';

    bindSearch($element, remoteUrl);
  });
</script>
