<div class="box box-warning" id="equipment_customer_<%= equipment_customer.id %>">
  <div class="box-header with-border">
    <h3 class="box-title"><%= equipment_customer.title_header.html_safe %></h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
    </div>
    <!-- /.box-tools -->
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Descripción</label>
          <div class="form-control" readonly style="height: auto;">
            <%= sanitize equipment_customer.description %>            
          </div>          
        </div>
      </div>

    </div>  
  </div>
  <!-- /.box-body -->
</div>

<script>
  $("#equipment_customer_<%= equipment_customer.id %>").boxWidget({})
</script>