<div class="form-row">
  <div class="form-group col-md-5">
    <label class="col-form-label">Equipo</label>
    <input class="form-control" type="text" placeholder="<%= @equipment_customer.equipment.name %>" readonly> 
  </div>
  <div class="form-group col-md-5">
    <label class="col-form-label">Marca</label>
    <input class="form-control" type="text" placeholder="<%= @equipment_customer.brand.name %>" readonly>    
  </div>
</div>
<div class="form-group">
  <label class="col-form-label">Descripción</label>
  <textarea class="form-control" rows="3" readonly>
    <%= @equipment_customer.description %>      
    </textarea>
</div>