<div class="direct-chat-msg">
  <div class="direct-chat-info clearfix">
    <span class="direct-chat-timestamp pull-right"><%= message_history.created_at.strftime("%d/%m/%Y - %I:%M %p") %></span>
  </div>
  <div class="direct-chat-text" style="text-align: right;">
    <%= message_history.message %>
  </div>
</div>
