<div class="box box-warning box-solid" id="my-box">
    <div class="box-header with-border">
      <h3 class="box-title">        
        [Nuevo Equipo]      
      </h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
      </div>
      <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body" >
      <%= render 'equipment_customers/form', new_equipment_customer: @new_equipment_customer, service: @service %>     
    </div>
</div>


<script>
  $('#my-box').boxWidget({})
</script>