<!-- form start -->
<%= form_tag(search_equipment_customers_path, role: "search", method: :get) do %>
  <div class="box-body" style="margin-bottom: -20px;">
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <label>Cliente</label>
          <% clients = [] %>
          <% clients << @equipment_customer.client if @equipment_customer.present? %>
          <%= select_tag "[search][client_id]", options_from_collection_for_select(clients, "id", "name", @equipment_customer ? @equipment_customer.client_id : nil), prompt: "Seleccione un cliente", class: "form-control autocomplete_clients", required: true %>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <label>Número de Folio</label>
          <%= text_field_tag "[search][folio_number]", @equipment_customer ? @equipment_customer.folio : nil, class: "form-control", required: true %>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <button type="submit" class="btn btn-block btn-info" style="margin-top: 25px">
            <i class="fa fa-fw fa-search"></i>
            Buscar
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- /.box-body -->
<% end %>
