<div class="form-group text-center">
  <label>Material a Utilizar</label>
  <select name="[invitation_printing_product_id]" class="form-control autocomplete_invitation_printing_products" data-remote="true" data-url="/quotation_printing/add_invitation" data-method="get" disabled="disabled">
    <option value="">Seleccione Material</option>
  </select>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Código</th>
      <th>Nombre</th>
      <th>Cantidad</th>
      <th>Precio Unidad</th>
      <th>Precio</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="invitation_printing_products_used_by_quotation">
  </tbody>
</table>

<div class="table-responsive" id="total_to_paid_by_quotation_printings">
</div>
