toastr['success']('Pago registrado correctamente.');
$("#new-equipment-body").html('<%= j render(@payment.service.equipment_customers.order(created_at: :desc)) %>');

<% if @equipments_not_paid.blank? && @payment.service.equipment_customers.present? %>
  //$(".link-hover").remove();
  $('#paid').html('<p class="text-center">Todos los pagos han sido realizados.</p>');
<% end %>

<% unless @equipments_not_paid.blank? %>
  $("#equipments_customers_for_paid").html('<%= j render('payments/equipments_customers_for_paid', equipments_not_paid: @equipments_not_paid) %>');
<% end %>

// Mostrar los pagos realizados
$("#list_payments").html('<%= j render("payments/finished", service: @payment.service) %>');

$(document).ready(function() {
  $("#print-ticket<%= @payment.equipment_customers.first.id %>").click();

  var acc = document.getElementsByClassName("accordion");
  activeAcordionPanels(acc);

});
