<button class="box-header header_paid with-border accordion_paid">
  <h3 class="box-title"><%= "Ingresar Pago <span style='color: #001F3F;'>#{@service.frequently_client_label}</span>".html_safe %></h3>
</button>
<%= render 'form', payment: @payment %>
