<div class="form-row">
  <div class="form-group col-md-6">
    <label class="col-form-label">Equipo</label>
    <input type="text" readonly class="form-control-plaintext" value="email@example.com">  
  </div>
  <div class="form-group col-md-6">
    <label class="col-form-label">Marca</label>
    <input type="text" readonly class="form-control-plaintext" value="email@example.com">   
  </div>
</div>
<div class="form-group">
  <label class="col-form-label">Descripción</label>
  <textarea class="form-control-plaintext" rows="3"></textarea>
</div>