<%= form_tag(search_sale_supports_path, role: "search", method: :get, remote: true) do %>
  <%= select_tag params[:client_id], options_from_collection_for_select(Client.all, "id", "name"), prompt: "Seleccione al cliente." %>
  <%= text_field_tag params[:group_id] %>
  <button class="btn btn-outline-success my-2 my-sm-0 btn-search" type="submit">
    <i class="fas fa-search"></i>
    Buscar
  </button>
<% end %>
