<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">Actualizar Refacción</h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  <%= render 'form', spare_part: @spare_part %>
</div>
