<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header text-center">
        <h3 class="box-title title-catalog">Refacciones</h3>
        <%= link_to 'Registrar', new_spare_part_path, class: 'btn btn-primary pull-right' %>
      </div>

      <div class="box-body table-responsive no-padding">
        <%= render 'shared/search', id: 'search-spare-parts',
          placeholder: 'Buscar por nombre o descripción',
          remote_url: '/spare_parts/search' %>
        <table class="table table-responsive table-hover table-condensed table-striped" id="spare_parts_table">
          <%= render 'body_spare_parts' %>
        </table>
      </div>

    </div>
  </div>
</div>
