<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header text-center">
        <h3 class="box-title title-catalog">Refacciones</h3>
        <%= link_to 'Registrar', new_spare_part_path, class: "btn btn-primary pull-right" %>

      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <div class="input-group">
          <input class="form-control" id="search-spare-parts" placeholder="Buscar por nombre o descripción">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" onclick="location.reload()">
              <i class="fa fa-fw fa-refresh"></i>
            </button>
          </span>
        </div>
        <table class="table table-responsive table-hover table-condensed table-striped" id="spare_parts_table">
          <%= render "body_spare_parts" %>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>

<script>
  $(document).ready(function() {
    var $element = $("#search-spare-parts");
    var remoteUrl = '/spare_parts/search';

    bindSearch($element, remoteUrl);
  });
</script>
