<div class="box box-solid">
  <div class="box-header with-border">
    <i class="fa fa-fw fa-eye"></i>

    <h3 class="box-title">Datos de la Refacción</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <dl class="dl-horizontal">
      <dt>Nombre</dt>
      <dd><%= @spare_part.name %></dd>
      <dt>Precio</dt>
      <dd><%= number_to_currency @spare_part.price %></dd>
      <dt>Total</dt>
      <dd><%= @spare_part.total %></dd>
      <dt>Descripción</dt>
      <dd><%= @spare_part.description %></dd>
    </dl>
  </div>
  <!-- /.box-body -->
</div>
