<div class="box" style="box-shadow: none; border-top: 0px;">
  <div id="box_camera" class="box-body box-profile">
    <video id="video" class="img-thumbnail img-responsive center-block" style="display: block;"></video>
    <canvas id="canvas" class="img-thumbnail img-responsive center-block" style="display: none;"></canvas>

    <a href="#" id="takepicture" class="btn btn-primary btn-block" style="margin-top: 5px;" data-takepicture=true>
      <b>
        <i class="fa fa-fw fa-camera"></i>
      </b>
    </a>
  </div>
  <!-- /.box-body -->
</div>
