<div class="card">

  <div class="card-header px-0 py-0" id="headingOne">
    <h5 class="mb-0">
      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne">
        <%= "[Nuevo Registro] #{Time.now.to_formatted_s(:long)}" %>
      </button>
    </h5>
  </div>

  <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
    <div class="card-body">
      <%= render 'supports/form' %>
    </div>
  </div>

</div>
