<tr>
  <td>1</td>
  <td>Memoria RAM</td>
  <td>Memoria DDR3 2gb Kingtons</td>
  <td>1</td>
  <td>$452.00</td>
</tr>
<tr>
  <td>2</td>
  <td>Tarjeta Madre</td>
  <td>Tarjeta Madre ECS CDC-I2550</td>
  <td>1</td>
  <td>$675.00</td>
</tr>
<tr>
  <td>3</td>
  <td>Disco Duro</td>
  <td>Disco Duro Seagate 500Gb</td>
  <td>1</td>
  <td>$950.00</td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td></td>
  <td><b>Total:</b></td>
  <td>$2077.00</td>
</tr>