$("#accordion").prepend('<%= j render("new") %>');
$('.textarea').wysihtml5();

$('.autocomplete_spare_parts').select2({
  minimumInputLength: 3,
  ajax: {
    delay: 250,
    url: "/spare_parts/autocomplete",
    dataType: 'json',
    cache: true
  },
  escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
  templateResult: formatRepo,
  templateSelection: formatRepoSelection
});

function formatRepo (spare_part) {
  if (spare_part.loading) {
    return spare_part.text;
  }

  var markup = "<div class='select2-result-repository__meta'>" +
      "<div class='select2-result-repository__title'>" + spare_part.text + "</div>";

  if (spare_part.description) {
    markup += "<div class='select2-result-repository__description'>" + spare_part.description + "</div>";
  }

  markup += "</div>";

  return markup;
}

function formatRepoSelection (spare_part) {
  return spare_part.description || spare_part.text;
}

$('.autocomplete_spare_parts').on('select2:select', function (e) {
    var data = e.params.data;  
    $.ajax({
      url: "/spare_parts/add_to_support",
      method: "get",
      dataType: "script",
      data: {
        spare_part: data
      }
    })
});
