$("#accordion").prepend('<%= j render("new") %>'); // Response when add support link is clicked

$('.textarea').wysihtml5();

$('.autocomplete_spare_parts').select2({
  minimumInputLength: 3,
  ajax: {
    delay: 250,
    url: "/spare_parts/autocomplete",
    dataType: 'json',
    cache: true
  },
  escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
  templateResult: formatRepo,
  templateSelection: formatRepoSelection
});

function formatRepo (spare_part) {
  if (spare_part.loading) {
    return spare_part.text;
  }

  var markup = "<div class='select2-result-repository__meta'>" +
      "<div class='select2-result-repository__title'>" + spare_part.text + "</div>";

  if (spare_part.description) {
    markup += "<div class='select2-result-repository__description'>" + spare_part.description + "</div>";
  }

  markup += "</div>";

  return markup;
}

function formatRepoSelection (spare_part) {
  return spare_part.description || spare_part.text;
}

$('.autocomplete_spare_parts').on('select2:select', function (e) {
    var data = e.params.data;  
    $.ajax({
      url: "/supports/add_spare_part",
      method: "get",
      dataType: "script",
      data: {
        spare_part: data
      }
    })
});



// Manipulate de WebCam
(function() {

  var streaming = false,
      video        = document.querySelector('#video'),
      canvas       = document.querySelector('#canvas'),
      photo        = document.querySelector('#photo'),
      startbutton  = document.querySelector('#startbutton'),
      width = 320,
      height = 0;

  navigator.getMedia = ( navigator.getUserMedia ||
                         navigator.webkitGetUserMedia ||
                         navigator.mozGetUserMedia ||
                         navigator.msGetUserMedia);

  navigator.getMedia(
    {
      video: true,
      audio: false
    },
    function(stream) {
      if (navigator.mozGetUserMedia) {
        video.mozSrcObject = stream;
      } else {
        var vendorURL = window.URL || window.webkitURL;
        video.srcObject = stream;
        //video.play();
        //video.src = vendorURL.createObjectURL(stream);
      }
      video.play();
    },
    function(err) {
      console.log("An error occured! " + err);
    }
  );

  video.addEventListener('canplay', function(ev){
    if (!streaming) {
      height = video.videoHeight / (video.videoWidth/width);
      video.setAttribute('width', width);
      video.setAttribute('height', height);
      canvas.setAttribute('width', width);
      canvas.setAttribute('height', height);
      streaming = true;
    }
  }, false);

  function takepicture() {
    canvas.width = width;
    canvas.height = height;
    canvas.getContext('2d').drawImage(video, 0, 0, width, height);
    var data = canvas.toDataURL('image/png');
    photo.setAttribute('src', data);
    document.getElementById('image_web_cam').value = data;
  }

  startbutton.addEventListener('click', function(ev){
      takepicture();
    ev.preventDefault();
  }, false);

})();
