/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bower_components/bootstrap/dist/css/bootstrap.css.scss
 *= require bower_components/font-awesome/css/font-awesome.css.scss
 *= require bower_components/Ionicons/css/ionicons.min.css
 *= require bower_components/select2/dist/css/select2.min.css
 *= require dist/css/AdminLTE.css

 *= require dist/css/skins/_all-skins.min.css
 *= require bower_components/morris.js/morris.css
 *= require bower_components/jvectormap/jquery-jvectormap.css
 *= require bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css
 * require bower_components/PACE/themes/black/pace-theme-flash.css
 *= require plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css
 *= require plugins/iCheck/square/blue.css

 *= require toastr

 * require font-awesome
 * require bootstrap.min
 * require toastr
 * require styles.css
 * require select2.min
 * require select2-bootstrap4.min
 *= require catalogs
 *= require_self
 */

.main-background-color {
  background-color: #2cabe3 !important;
}

.black-color {
  color: hsla(200,0%,0%,.7) !important;
}

.background-white {
  background-color: #fff !important;
}

.font-logo {
  font-family: 'Source Sans Pro' !important;
  font-size: 30px !important;
  letter-spacing: 0.05em !important;
}

.font-username {
  font-size: 25px !important;
  font-family: 'Source Sans Pro' !important;
  text-transform: uppercase !important;
}

.font-detail-user {
  font-family: 'Source Sans Pro' !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  letter-spacing: 0.04em !important;
  text-transform: uppercase !important;
}

.background-gray {
  background-color: #F0F0F0 !important
}

.button-detail-user {
  color: #000 !important;
  font-family: 'Source Sans Pro' !important;
  font-size: 15px !important;
  letter-spacing: 0.06em !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
}

.item-menu-navegation {
  font-family: 'Source Sans Pro' !important;
  text-transform: uppercase !important;
  letter-spacing: 0.2em !important;
  font-size: 20px !important;
  color: #000 !important;
}

.subitem-menu-navegation {
  font-family: 'Source Sans Pro' !important;
  text-transform: uppercase !important;
  letter-spacing: 0.15em !important;
  font-size: 18px !important;
  color: #000 !important;
  padding-left: 25px;
}

.item-menu-navegation:hover, .subitem-menu-navegation:hover {
  background-color: #fff !important;
}



.select2-container {
  display: block !important;
}

.active-sidebar {
	border-left: 5px solid #2cabe3  !important;
}

.link-hover:hover {
	background-color: white !important;
}
