/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bower_components/bootstrap/dist/css/bootstrap.css.scss
 *= require bower_components/font-awesome/css/font-awesome.css.scss
 *= require bower_components/Ionicons/css/ionicons.min.css
 *= require bower_components/select2/dist/css/select2.min.css
 *= require dist/css/AdminLTE.css

 *= require dist/css/skins/_all-skins.min.css
 *= require bower_components/morris.js/morris.css
 *= require bower_components/jvectormap/jquery-jvectormap.css
 *= require bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css
 * require bower_components/PACE/themes/black/pace-theme-flash.css
 *= require plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css
 *= require plugins/iCheck/square/blue.css

 *= require toastr
 *= require animate

 * require font-awesome
 * require bootstrap.min
 * require toastr
 * require styles.css
 * require select2.min
 * require select2-bootstrap4.min
 *= require catalogs
 *= require accordion
 *= require_self
 */

* {
    font-family: 'Poppins', sans-serif;
}
.main-background-color {
  background-color: #002e5b !important;
}

.logo:hover {
  background: #fde428 !important;
  border-color: #fde428 !important;
  color: #002e5b !important;
  text-decoration: none !important;
}

.skin-blue-light .main-header .navbar .sidebar-toggle:hover {
  background: #fde428 !important;
  border-color: #fde428 !important;
  color: #002e5b !important;
  text-decoration: none !important;
}

.black-color {
  color: hsla(200,0%,0%,.7) !important;
}

.white-color {
  color: #fff !important;
}

.background-white {
  background-color: #fff !important;
}

.font-logo {
  font-size: 30px !important;
  letter-spacing: 0.05em !important;
}

.font-username {
  /*font-size: 25px !important;
     text-transform: uppercase !important; */
    letter-spacing: 0.05em;
}

.font-detail-user {
  font-size: 20px !important;
font-weight: 600 !important;
letter-spacing: 0.05em !important;
/* text-transform: uppercase !important; */
}

.user-menu {
  font-family: 'Poppins', sans-serif;
}

.user-menu:hover {
  background: #fde428 !important;
  border-color: #fde428 !important;
  color: #002e5b !important;
  text-decoration: none !important;
  font-family: 'Poppins', sans-serif;
}

.user-menu-hover {
  background: #fde428 !important;
  border-color: #fde428 !important;
  color: #002e5b !important;
  text-decoration: none !important;
  font-family: 'Poppins', sans-serif;
}

.background-gray {
  background-color: #F0F0F0 !important
}

.button-perfil-user {
  color: #002e5b !important;
  font-size: 15px !important;
  letter-spacing: 0.05em !important;
  font-weight: 500;
  /* text-transform: uppercase !important; */
  background: #fde428 !important;
}

.box-header {
  background-image: linear-gradient(to right, white, rgba(210,214,222,1));
  background-repeat: no-repeat;
   background-size: cover;
   background-position: right bottom;
}

.button-perfil-user:hover {
  color: #fde428 !important;
  background: #002e5b !important;
}

.button-close-sesion-user {
  color: #fde428 !important;
  font-size: 15px !important;
  letter-spacing: 0.05em !important;
  font-weight: 500;
  /* text-transform: uppercase !important; */
  background: #002e5b !important;
}

.button-close-sesion-user:hover {
  color:  #002e5b !important;
  background: #fde428 !important;
}

.item-menu-navegation {
  text-transform: uppercase !important;
  letter-spacing: 0.2em !important;
  font-size: 20px !important;
  color: #000 !important;
  font-family: 'Roboto Condensed', sans-serif;
}

.item-menu-navegation:hover {
  background: #fde428 !important;
  border-color: #fde428 !important;
  color: #002e5b !important;
  text-decoration: none !important;
  font-family: 'Roboto Condensed', sans-serif;
}

.roboto-font {
  font-family: 'Roboto Condensed', sans-serif;
}

h1, h2, h3, h4, h5, .poppy-font {
    font-family: 'Poppins', sans-serif;
}

.subitem-menu-navegation {
  /* text-transform: uppercase !important; */
letter-spacing: 0.15em !important;
font-size: 18px !important;
color: #000 !important;
padding-left: 25px;
}

.subitem-menu-navegation:hover {
  background: #002e5b !important;
  border-color: #fde428 !important;
  color: #fde428 !important;
  text-decoration: none !important;
  font-family: 'Poppins', sans-serif;
}

.skin-blue-light .main-header li.user-header  {
  background-color: #dce9ef !important;
}

.background-close-session {
  background: #fde428 !important;
}

.select2-container {
  display: block !important;
}

.active-sidebar {
	border-left: 7px solid #2cabe3  !important;
}

.link-hover:hover {
	background-color: white !important;
}

.btn-info {
  background-color: #2cabe3 !important;
  border-color: #2cabe3 !important;
}

.btn-info:hover {
  //background-color: #0473A3 !important;
  border: 1.5px solid #002e5b  !important;
}

.btn-edit {
  background-color: #fde428 !important;
  border-color: #fff;
  color: #000;
}

.btn-edit:hover {
    border: 1.5px solid #fff  !important;
}

.btn-danger:hover {
  border: 1.5px solid #fff  !important;
}

.div-direct-chat-messages {
  max-height: 500px !important;
  border: 1px solid #ccc !important;
  overflow-y: scroll;
  overflow-x: hidden;
}

.add-messages-history-button {
  width: 99% !important;
  position: absolute !important;
  /*bottom: 5px !important;*/
}
