.page-footer .footer-copyright {
  background-color: #fff;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  margin-top: 0;
  border: 1px solid #ededed;
}

.page-footer.dark {
  padding: 0px;
}

.profile_form {
  min-width: 800px !important;
}

.notice {
  margin: 0;
  padding-top: 30px;
  text-align: center
}

.invalid-feedback {
  display: inline;
}

.field_with_errors {
  border-radius: .25rem;
  border: 1px solid #dc3545;
}
