<div class="row">
  <div class="col-xs-12">
    <div class="box">
      
      <div class="box-header text-center">
        <h3 class="box-title title-catalog">Marcas</h3>
          <%= link_to 'Registrar', new_brand_path, class: "btn btn-info pull-right" %>
      </div>

      <div class="box-body table-responsive no-padding">
        <%= render 'shared/search', id: 'search-brands',
          placeholder: 'Buscar por nombre o especificaciones',
          remote_url: '/brands/search' %>
        <table class="table table-responsive table-hover table-condensed table-striped" id="brands_table">
          <%= render 'body_brands' %>
        </table>
      </div>

    </div>
  </div>
</div>
