<div class="box box-info not-margin not-border">
  <div class="box-header border-tr-header text-center">
    <h3 class="box-title title-catalog">Registrar</h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  <%= render 'form', brand: @brand %>
</div>
