<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">Registrar Marca</h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  <%= render 'form', brand: @brand %>
</div>
