<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header text-center">
        <h3 class="box-title title-catalog">Empleados</h3>
          <%= link_to 'Registrar', new_employe_path, class: 'btn btn-info pull-right' %>
      </div>

      <div class="box-body table-responsive no-padding">
        <%= render 'shared/search', id: 'search-employes',
          placeholder: 'Buscar por nombre, usuario o email',
          remote_url: '/employes/search' %>
        <table class="table table-responsive table-hover table-condensed table-striped" id="employes_table">
          <%= render 'body_employes' %>
        </table>
      </div>
      
    </div>
  </div>
</div>
