<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header text-center">
        <h3 class="box-title title-catalog">Modelos</h3>
          <%= link_to 'Registrar', new_equipment_model_path, class: "btn btn-info pull-right" %>
      </div>

      <div class="box-body table-responsive no-padding">
        <%= render 'shared/search', id: 'search-equipment_models',
          placeholder: 'Buscar por nombre o descripción',
          remote_url: '/equipment_models/search' %>
        <table class="table table-responsive table-hover table-condensed table-striped" id="equipment_models_table">
            <%= render 'body_equipment_models' %>
        </table>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/paginate', elements_paginate: @equipment_models %>
