<div class="box">
  <div class="box-header text-center">
    <h3 class="box-title title-catalog">Actualizar</h3>
    <%= link_to products_path, class: "btn btn-info pull-right" do %>
      <i class="fa fa-fw fa-reply"></i>
    <% end %>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  <%= render 'form', product: @product %>
</div>
