<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header text-center">
        <h3 class="box-title title-catalog">Productos</h3>
          <%= link_to 'Registrar', new_product_path, class: 'btn btn-info pull-right' %>
      </div>

      <div class="box-body table-responsive no-padding">
        <%= render 'shared/search', id: 'search-products',
          placeholder: 'Buscar por código, nombre ó marca',
          remote_url: '/products/search' %>
        <table class="table table-responsive table-hover table-condensed table-striped" id="products_table">
          <%= render 'body_products' %>
        </table>
      </div>

    </div>
  </div>
</div>

<%= render 'shared/paginate', elements_paginate: @products %>
