<div class="input-group" style="width: 100%">
  <input class="form-control"  data-behavior="input-search" data-type="<%= @type %>" data-product-type="<%= @product_type %>"
         placeholder='Buscar por nombre' autofocus>
</div>