<div>
  <div class="row justify-content-center">
    <div class="row">
      <div class="col-sm-12" style="margin: 0 0 0 15px; width: 98%; padding-bottom: 5px">
        <%= render 'printing_products/search', locals: {type: @type, product_type: @product_type} %>
      </div>
      <div data-behavior="gallery">
        <%= render 'printing_products/images_carousel', printing_products: printing_products, search: @search %>
      </div>
    </div>
  </div>
</div>
