<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label>Historial</label>
      <div>
        <div class="direct-chat-messages div-direct-chat-messages" style="position: relative;">
          <%= render quotation_printing.message_history_quotation_printings unless quotation_printing.new_record? %>
          <%= text_field_tag 'quotation_printing[message]', nil, placeholder: 'Registrar mensaje...',
                             class: 'form-control add-messages-history-button' %>
        </div>
      </div>
    </div>
  </div>
</div>
