<div class="row justify-content-center">
  <div class="row">
    <div class="col-md-12">
      <% if @subcategory.present? %>

        <% if @type.eql?("invitations") %>
          <% @subcategory.invitations.each do |invitation| %>
            <%= link_to (image_tag invitation.imagen_url, class: "img-fluid img-thumbnail img-responsive"), invitation.imagen_url,
                      data: {toggle: "lightbox", gallery: "example-gallery",
                             title: invitation.name, footer: "<button data-behavior='select-image' data-type='#{@type}'
                             data-invitation-name='#{invitation.name}' data-category-name='#{invitation.category.name}'
                             data-subcategory-name='#{invitation.subcategory.name}' data-image-url='#{invitation.imagen_url}'
                             data-invitation-id='#{invitation.id}' class='pull-right'>Seleccionar</button>",
                             },
                      class: "col-sm-3" %>
          <% end %>
        <% end %>

        <% if @type.eql?("contents") %>
          <% @subcategory.content_for_invitations.each do |content_for_invitation| %>
            <%= link_to (image_tag content_for_invitation.image_url, class: "img-fluid img-thumbnail img-responsive"), content_for_invitation.image_url,
                        data: {toggle: "lightbox", gallery: "example-gallery",
                               title: content_for_invitation.name, footer: "<button data-behavior='select-image' data-type='#{@type}'
                               data-invitation-name='#{content_for_invitation.name}' data-category-name='#{content_for_invitation.category.name}'
                               data-subcategory-name='#{content_for_invitation.subcategory.name}' data-image-url='#{content_for_invitation.image_url}'
                               data-content-for-invitation-id='#{content_for_invitation.id}' class='pull-right'>Seleccionar</button>",
                              },
                        class: "col-sm-3" %>
          <% end %>
        <% end %>

      <% else %>
        <h2>Muestras no encontradas</h2>
      <% end %>
    </div>
  </div>
</div>