<div class="form-group", id="quotation_printing">
  <label>Buscar/Agregar Cotización</label>
  <%= select_tag 'quotation_printing[number_folio]', options_for_select(@quotation_printings), class: 'form-control',
                 required: true, data: { behavior: 'select-number-folio'} %>
</div>