<div class="row">
    <div class="form-group">
      <label class="col-sm-2 control-label">Categoría</label>
      <div class="col-sm-3" style="margin-bottom: 10px;">
        <%= select_tag "quotation_printing[category_id]", options_from_collection_for_select(Category.order(:name), "id", "name"),
                       {class: "form-control", required: true, prompt: "Seleccionar categoría", data: {behavior: 'category'}} %>
      </div>
    </div>
</div>