 <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">      
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header" style="height: 50px; display: inline-block; width: 100%; text-align: center; padding-top: 20px;">MENÚ DE NAVEGACIÓN</li>       
        <li>
          <%= link_to search_equipment_customers_path, style: "font-size: 1.8rem;" do %>
            <i class="fa fa-fw fa-support"></i>
            <span style="padding-left: 10px;">Soportes</span>    
          <% end %>               
        </li>
        <li>
          <%= link_to clients_path, style: "font-size: 1.8rem;" do %>
            <i class="fa fa-fw fa-user-md"></i> 
            <span style="padding-left: 10px;">Clientes</span>            
          <% end %>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>