<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
    <%= stylesheet_link_tag wicked_pdf_asset_base64("application.css") %>
    <%#= wicked_pdf_javascript_include_tag "application" %>
  <script>
    function position_brands() {
      var elements = document.getElementsByClassName("brand");
      var descriptions = document.getElementsByClassName("description-equipment");
      for(i = 0; i < descriptions.length; i++) {
        descriptions[i].style.height = descriptions[i].style.height + 50 + "px";
      }
    }
  </script>

</head>
<body onload="position_brands()">
  <div class="container" style="margin: 0; padding: 0;">
    <%= yield %>
  </div>
</body>
</html>
