<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
    <%= stylesheet_link_tag wicked_pdf_asset_base64("application.css") %>
    <%#= wicked_pdf_javascript_include_tag "application" %>
  <script>
    function position_brands() {
      var elements = document.getElementsByClassName("brand");
      var descriptions = document.getElementsByClassName("description-equipment");
      for(i = 0; i < descriptions.length; i++) {
        descriptions[i].style.height = descriptions[i].style.height + 50 + "px";
      }
    }
  </script>
  <style>
    .m-t-50 { margin-top: 50px; }
    .m-t-100 { margin-top: 100px; }
    .m-r-15 { margin-right: 15px; }
    .m-r-80 { margin-top: 80px; }
    .m-t-20 { margin-top: 20px; }
    .m-b-10 { margin-bottom: 10px; }
    .m-b-20 { margin-bottom: 20px; }
    .m-l-15 { margin-left: 15px; }
    .not-margin { margin: 0; }
    .not-margin-top { margin-top: 0; }
    .border { border: 1px solid; }
    .border-left { border-left: 1px solid; }
    .border-not-top {
      border-left: 1px solid;
      border-right: 1px solid;
      border-bottom: 1px solid;
    }
    .b-t-d { border-top: 2px dashed; }
    .red { color: red; }
    .number-folio {
      font-size: 48px;
      display: inline-block;
    }
    .f-s-a-f { font-size: 22px; }
    .f-s-28 { font-size: 58px; }
    .section-blue {
      background-color: #03a;
      height: 30px;
    }
    .b-c-g { background-color: grey; }
    .row-eq-height {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }
    .term-cond {
      padding-inline-start: 0;
      list-style-size: 15px;
      margin-bottom: 15px;
    }
    div.alwaysbreak { page-break-before: always; }
    div.nobreak:before { clear:both; }
    div.nobreak { page-break-inside: avoid; }
    .div_with_full_background_image {
      width: 4cm;
      height: 3cm;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    body.watermark{
      background-image: url(<%= image_url 'logomichel_agua.jpg' %>);
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      background-size: 100%;

    }
  </style>
</head>

  <% class_watermark = @quotation_printing.present? ? "watermark" : "" %>
  <body onload="position_brands()" class=<%="#{class_watermark}"%>>
  <div class="container-fluid">
    <%= yield %>
  </div>
  </body>
</html>